{% extends "base.html" %}
{% load static %}

{% block title%}
CSG {{domain.name}}{{domain.extension}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            {{domain.name}}{{domain.extension}} contains {{endpointCount}} endpoints
        </div>
        <div class="col">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Path</th>
                    <th>Date Discovered</th>
                    <th>Last Update</th>
                    <th>Discovered By</th>
                </tr>
            </thead>
            <tbody>
                {% for endpoint in endpoints %}
                <tr class="table-light">
                    <td>{{endpoint.path}}</td>
                    <td>{{endpoint.discoveryDate}}</td>
                    <td>{{endpoint.lastUpdated}}</td>
                    <td><a href="../users/{{endpoint.discoveredByUser_id}}">{{endpoint.discoveredBy}} {{endpoint.user_id}} </a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    <!-- For LineChart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer type="text/javascript" src="{% static 'mySite/lineChart.js' %}"></script>
    </body>
    {% endblock %}