{% extends "base.html" %}
{%load static %}
{% block content%}
<div>

    How to add endpoints to the database:
    It's simple, just download and run the chrome extension. This will run in the background and add endpoints as you browse the web.
    <a class="nav-link" href="https://chrome.google.com/webstore/category/extensions?hl=en">
        <button type="button" class="btn btn-light">Chrome Extension</button>
    
    You can create an account here If you would like to keep track of your stats. (and get "credit" for discovering new endpoints or updating endpoints)
    

</div>
{% endblock %}