<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Stats</title>
</head>

<body>
    Crowdsourced Graphs contains:
    <div class="statsContainer">
        <div class="statsBox">
            <span>{{domainCount}}</span>
            <p>domains</p>
        </div>
        with a total of
        <div class="statsBox">
           <span>{{endpointCount}}</span> 
           <p>endpoints,</p>

        </div>
        which were contributed by
        <div class="statsBox">
            <span>{{userCount}}</span>
            <p>users</p>
        </div>

    </div>
    <div class="statsContainer">
    <div class="statsBox">
        <span>{{graphQLCount}}</span>
        <p>Use GraphQL</p>
    </div>
    <div class="statsBox">
        <span>{{graphQLIntrospectionTrueCount}}</span>
        <p>allow introspection</p>
    </div>
</div>



</body>

</html>