{% extends "base.html"%}
{% block content %}
    ToDo: Arrange these boxes into a graph ---
    Crowdsourced Graphs contains:
    <div class="container">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">Test</div>
            <div class="card-body">
                <h4 class="card-title">{{domainCount}} Domains </h4>
                <p class="card-text">with a total of</p>
            </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">{{endpointCount}}</h4>
                <p class="card-text">Endpoints, which were contributed by</p>
            </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">{{userCount}}</h4>
                <p class="card-text">Users, from </p>
            </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h4 class="card-title">{{countryCount}}</h4>
                <p class="card-text">countries</p>
            </div>
        </div>
        Of these endpoints:
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h4 class="card-title">{{graphQLCount}}</h4>
                <p class="card-text">Use graphQL</p>
            </div>
        </div>
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header"></div>
            <div class="card-body">
                <h4 class="card-title">{{graphQLIntrospectionTrueCount}}</h4>
                <p class="card-text">Allow Introspection</p>
            </div>
        </div>
    </div>
{% endblock %}